In [2]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder, minmax_scale, maxabs_scale, robust_scale
from sklearn.metrics import roc_auc_score,recall_score, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [3]:
x_train = pd.read_csv('csv/X_train.csv',encoding='cp949')
y_train = pd.read_csv('csv/y_train.csv')
x_test = pd.read_csv('csv/X_test.csv', encoding='cp949')

In [4]:
x_train = x_train.iloc[:,1:]
x_test = x_test.iloc[:,1:]
y_train = y_train.iloc[:,1]

In [5]:
# 결측치 처리
x_train['환불금액'] = x_train.fillna(0)
x_test['환불금액'] = x_test.fillna(0)

In [5]:
x_train.head()

       총구매액     최대구매액      환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  68282840      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   2136000     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000   3197000  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000  16077620      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000  29050000      보석  본  점     2  1.500000  0.000000    85

In [55]:
x_train['주구매지점'].value_counts()

본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [6]:
수도권=['본 점','잠실점','분당점','영등포점','일산점','강남점','노원점','청량리점','미아점','부평점','관악점','인천점','안양점']
부산=['부산본점','동래점','센텀시티점']
비수도권=['광주점','대전점','포항점','대구점','울산점','전주점','창원점','상인점']

In [7]:
x_train['주구매지점'] = x_train['주구매지점'].apply(lambda x: np.where(x in 수도권, 2, np.where(x in 부산,1,0)))
x_test['주구매지점'] = x_test['주구매지점'].apply(lambda x: np.where(x in 수도권, 2, np.where(x in 부산,1,0)))

In [8]:
x_train.head()

       총구매액     최대구매액      환불금액   주구매상품  주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  68282840      기타      2    19  3.894737  0.527027    17
1   2136000   2136000   2136000     스포츠      2     2  1.500000  0.000000     1
2   3197000   1639000   3197000  남성 캐주얼      2     2  2.000000  0.000000     1
3  16077620   4935000  16077620      기타      0    18  2.444444  0.318182    16
4  29050000  24000000  29050000      보석      0     2  1.500000  0.000000    85

In [8]:
x_train['주구매상품']= x_train[['주구매상품']].apply(LabelEncoder().fit_transform)
x_test['주구매상품']= x_test[['주구매상품']].apply(LabelEncoder().fit_transform)

In [9]:
x_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,68282840,11264000,68282840,5,2,19,3.894737,0.527027,17
1,2136000,2136000,2136000,21,2,2,1.500000,0.000000,1
2,3197000,1639000,3197000,6,2,2,2.000000,0.000000,1
3,16077620,4935000,16077620,5,0,18,2.444444,0.318182,16
4,29050000,24000000,29050000,15,0,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,3175200,3,0,1,2.000000,1.000000,0
3496,29628600,7200000,29628600,22,1,8,1.625000,0.461538,40
3497,75000,75000,75000,32,0,1,1.000000,0.000000,0
3498,1875000,1000000,1875000,41,0,2,1.000000,0.000000,39
3499,263101550,34632000,263101550,5,0,38,2.421053,0.467391,8

In [11]:
x_test.shape

(2482, 9)

In [12]:
xx=minmax_scale(x_train[['총구매액','최대구매액','환불금액']])
# minmax_scale(x_train[['~']])

In [13]:
xx2 = minmax_scale(x_test[['총구매액','최대구매액','환불금액']])

In [14]:
x_train_new=pd.concat([pd.DataFrame(xx),x_train.iloc[:,3:]],axis=1)
x_train_new.rename(columns={0:'총구매액',1:'최대구매액',2:'환불금액'}, inplace=True)

x_test_new=pd.concat([pd.DataFrame(xx2),x_test.iloc[:,3:]],axis=1)
x_test_new.rename(columns={0:'총구매액',1:'최대구매액',2:'환불금액'}, inplace=True)

In [15]:
x_train_new

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0.050810,0.020090,0.050810,5,2,19,3.894737,0.527027,17
1,0.022966,0.007226,0.022966,21,2,2,1.500000,0.000000,1
2,0.023412,0.006526,0.023412,6,2,2,2.000000,0.000000,1
3,0.028834,0.011171,0.028834,5,0,18,2.444444,0.318182,16
4,0.034295,0.038037,0.034295,15,0,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,0.023403,0.008504,0.023403,3,0,1,2.000000,1.000000,0
3496,0.034539,0.014363,0.034539,22,1,8,1.625000,0.461538,40
3497,0.022098,0.004322,0.022098,32,0,1,1.000000,0.000000,0
3498,0.022856,0.005626,0.022856,41,0,2,1.000000,0.000000,39
3499,0.132818,0.053020,0.132818,5,0,38,2.421053,0.467391,8

In [75]:
model = LogisticRegression().fit(x_train_new, y_train)
model.score(x_train_new, y_train)

C:\Users\jyhoon94\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6414285714285715

In [23]:
x_train_new.to_csv('X_train_new.csv', index=False)
x_test_new.to_csv('X_test_new.csv',index=False)

In [16]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
model_rfc = RandomForestClassifier().fit(x_train_new, y_train)
model_gbc = GradientBoostingClassifier().fit(x_train_new, y_train)

pred_rfc= model_rfc.predict_proba(x_test_new)
pred_gbc= model_gbc.predict_proba(x_test_new)

model_rfc.score(x_train_new,y_train),model_gbc.score(x_train_new, y_train)

(0.9994285714285714, 0.7117142857142857)

## randomForest Classifier HyperParameter
- n_estimators: 모델 측정 개수
- criterion: gini, entropy...
- max_depth: 잎 개수

## GradientBoostingClassifier HyperParameter
- n_estimators
- learning_rate
- criterion: 'friedman_mse', 'mse', 'mae'
- max_depth

## MLPClassifier
- activation(활성화함수): 'identity', 'logistic', 'tanh', 'relu'
- solve(옵티마이저): lbfgs’, ‘sgd’, ‘adam
- alpha(L2 Penalty, def= 0.0001)
- learning_rate : 'constant', 'invscaling', 'adaptive'
- max_iter(def: 200)

In [21]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(100,50,30), solver='adam', activation='relu',max_iter=1000, learning_rate='adaptive')
model.fit(x_train_new, y_train)
model.score(x_train_new, y_train)

0.666

## 교차검증

In [24]:
from sklearn.model_selection import GridSearchCV, KFold

In [26]:
param_grid = {
    'activation':['relu','tanh','logistic','identity'],
    'solver':['sgd','adam','lbfgs'],
    'alpha':[0.0001,0.0005,0.001,0.005,0.01],
    'learning_rate':['constant','adaptive'],
    'max_iter':[100,200,300,400,500]
}

model = MLPClassifier()
cv = KFold(random_state=30, n_splits=10, shuffle=True)

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=cv, n_jobs=-1, verbose=2)
grid_search.fit(x_train_new,y_train)

Fitting 10 folds for each of 600 candidates, totalling 6000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:   24.4s
[Parallel(n_jobs=-1)]: Done 333 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 616 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 981 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 1426 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 1953 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 2560 tasks      | elapsed: 11.6min

KeyboardInterrupt:

In [35]:
from statsmodels.formula.api import ols
import seaborn as sns

In [37]:
fit.

AttributeError: 'OLS' object has no attribute 'summary'

### Titanic

In [25]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.shape

(891, 15)

In [29]:
df_x = titanic.iloc[:,1:]
df_y = titanic.iloc[:,0]

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, minmax_scale, maxabs_scale, robust_scale
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import roc_auc_score,recall_score, accuracy_score, f1_score
import numpy as np

In [33]:
df_x

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,3,1,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,0,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,3,0,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,0,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,3,1,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,1,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,0,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,3,0,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,3,1,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [34]:
df_x['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [32]:
df_x['sex'] = df_x['sex'].apply(lambda x: np.where(x=='male',1,0))

In [35]:
df_x['class']= df_x['class'].apply(lambda x: np.where(x=='First',1, np.where(x=='Second',2,3)))

In [36]:
df_x['alone'] = df_x['alone'].apply(lambda x: np.where(x=='False',0,1))

In [39]:
df_x['adult_male'] = df_x['adult_male'].apply(lambda x: np.where(x=='True',1,0))

In [40]:
df_x = df_x[['pclass','sex','age','sibsp','parch','fare','class','adult_male','alone']]
df_x

     pclass  sex   age  sibsp  parch     fare class  adult_male  alone
0         3    1  22.0      1      0   7.2500     3           0      1
1         1    0  38.0      1      0  71.2833     1           0      1
2         3    0  26.0      0      0   7.9250     3           0      1
3         1    0  35.0      1      0  53.1000     1           0      1
4         3    1  35.0      0      0   8.0500     3           0      1
..      ...  ...   ...    ...    ...      ...   ...         ...    ...
886       2    1  27.0      0      0  13.0000     2           0      1
887       1    0  19.0      0      0  30.0000     1           0      1
888       3    0   NaN      1      2  23.4500     3           0      1
889       1    1  26.0      0      0  30.0000     1           0      1
890       3    1  32.0      0      0   7.7500     3           0      1

[891 rows x 9 columns]

In [46]:
len(df_x.columns)

9

In [49]:
df_x[''

SyntaxError: invalid syntax (<ipython-input-49-d04623d598e2>, line 1)

In [51]:
col_name=df_x.columns

In [64]:
for i in (col_name):
    print(pd.isna(df_x[i]).value_counts())

False    891
Name: pclass, dtype: int64
False    891
Name: sex, dtype: int64
False    891
Name: age, dtype: int64
False    891
Name: sibsp, dtype: int64
False    891
Name: parch, dtype: int64
False    891
Name: fare, dtype: int64
False    891
Name: class, dtype: int64
False    891
Name: adult_male, dtype: int64
False    891
Name: alone, dtype: int64

In [61]:
np.mean(df_x['age']), df_x['age'].mean()

(29.69911764705882, 29.69911764705882)

In [66]:
df_x['age'].value_counts()

29.699118    177
24.000000     30
22.000000     27
18.000000     26
28.000000     25
            ...
55.500000      1
53.000000      1
20.500000      1
23.500000      1
0.420000       1
Name: age, Length: 89, dtype: int64

In [63]:
df_x['age']=df_x['age'].fillna(df_x['age'].mean())

<ipython-input-63-aacea794e5f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_x['age']=df_x['age'].fillna(df_x['age'].mean())

In [67]:
train_x, test_x, train_y, test_y = train_test_split(df_x, df_y, test_size=.3)

In [72]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((623, 9), (268, 9), (623,), (268,))

## MLPClasifier

In [90]:
mlp = MLPClassifier(hidden_layer_sizes=(50,50,30), activation='logistic',solver='adam',learning_rate='constant', max_iter=500, random_state=1)
mlp.fit(train_x, train_y)
mlp_pred = mlp.predict(test_x)
roc_auc_score(mlp_pred, test_y)

0.8159930915371331

In [88]:
mlp.predict_proba(test_x)

array([[0.04493182, 0.95506818],
       [0.83166409, 0.16833591],
       [0.91426605, 0.08573395],
       [0.9107145 , 0.0892855 ],
       [0.04271457, 0.95728543],
       [0.09707331, 0.90292669],
       [0.90046197, 0.09953803],
       [0.0597554 , 0.9402446 ],
       [0.35331191, 0.64668809],
       [0.5146887 , 0.4853113 ],
       [0.59890665, 0.40109335],
       [0.9045926 , 0.0954074 ],
       [0.4211329 , 0.5788671 ],
       [0.91567468, 0.08432532],
       [0.68721008, 0.31278992],
       [0.87156488, 0.12843512],
       [0.19178744, 0.80821256],
       [0.91271112, 0.08728888],
       [0.8030501 , 0.1969499 ],
       [0.68635956, 0.31364044],
       [0.81631306, 0.18368694],
       [0.59643738, 0.40356262],
       [0.91147031, 0.08852969],
       [0.43204919, 0.56795081],
       [0.58767923, 0.41232077],
       [0.91081771, 0.08918229],
       [0.79929146, 0.20070854],
       [0.22217112, 0.77782888],
       [0.13822633, 0.86177367],
       [0.67414529, 0.32585471],
       [0.9152661 , 0.0847339 ],
       [0.33766182, 0.66233818],
       [0.06034776, 0.93965224],
       [0.0639483 , 0.9360517 ],
       [0.69794053, 0.30205947],
       [0.93622226, 0.06377774],
       [0.84529357, 0.15470643],
       [0.63480356, 0.36519644],
       [0.86564866, 0.13435134],
       [0.75573439, 0.24426561],
       [0.53312802, 0.46687198],
       [0.91273576, 0.08726424],
       [0.26778295, 0.73221705],
       [0.60107549, 0.39892451],
       [0.71686692, 0.28313308],
       [0.08630364, 0.91369636],
       [0.89327853, 0.10672147],
       [0.82427152, 0.17572848],
       [0.10893623, 0.89106377],
       [0.29103111, 0.70896889],
       [0.72929429, 0.27070571],
       [0.65307302, 0.34692698],
       [0.46774676, 0.53225324],
       [0.27422201, 0.72577799],
       [0.31241894, 0.68758106],
       [0.32637783, 0.67362217],
       [0.52535333, 0.47464667],
       [0.8369535 , 0.1630465 ],
       [0.05274243, 0.94725757],
       [0.08359403, 0.91640597],
       [0.90369131, 0.09630869],
       [0.91567468, 0.08432532],
       [0.9054958 , 0.0945042 ],
       [0.63245354, 0.36754646],
       [0.91209525, 0.08790475],
       [0.94022558, 0.05977442],
       [0.72286075, 0.27713925],
       [0.91243309, 0.08756691],
       [0.59079543, 0.40920457],
       [0.84777049, 0.15222951],
       [0.31236041, 0.68763959],
       [0.93622226, 0.06377774],
       [0.05455895, 0.94544105],
       [0.91188466, 0.08811534],
       [0.91096164, 0.08903836],
       [0.90670751, 0.09329249],
       [0.11999869, 0.88000131],
       [0.07686804, 0.92313196],
       [0.58596745, 0.41403255],
       [0.81878312, 0.18121688],
       [0.18570545, 0.81429455],
       [0.76400794, 0.23599206],
       [0.33017632, 0.66982368],
       [0.90725333, 0.09274667],
       [0.90904313, 0.09095687],
       [0.33456044, 0.66543956],
       [0.12005013, 0.87994987],
       [0.90021632, 0.09978368],
       [0.90880445, 0.09119555],
       [0.92077241, 0.07922759],
       [0.91186444, 0.08813556],
       [0.47173935, 0.52826065],
       [0.88800763, 0.11199237],
       [0.1264813 , 0.8735187 ],
       [0.35597344, 0.64402656],
       [0.04484582, 0.95515418],
       [0.6402821 , 0.3597179 ],
       [0.91194515, 0.08805485],
       [0.33022651, 0.66977349],
       [0.55115372, 0.44884628],
       [0.85889369, 0.14110631],
       [0.71024559, 0.28975441],
       [0.88156028, 0.11843972],
       [0.81648805, 0.18351195],
       [0.92416468, 0.07583532],
       [0.9073916 , 0.0926084 ],
       [0.87156488, 0.12843512],
       [0.91022256, 0.08977744],
       [0.05904956, 0.94095044],
       [0.57567705, 0.42432295],
       [0.91567468, 0.08432532],
       [0.91271112, 0.08728888],
       [0.24518366, 0.75481634],
       [0.88520131, 0.11479869],
       [0.91271112, 0.08728888],
       [0.11733548, 0.88266452],
       [0.73631936, 0.26368064],
       [0.83120665, 0.16879335],
       [0.89145039, 0.10854961],
       [0.07730486, 0.92269514],
       [0.91149586, 0.08850414],
       [0.52249152, 0.47750848],
       [0.91282289, 0.08717711],
       [0.41283005, 0.58716995],
       [0.91555827, 0.08444173],
       [0.67216326, 0.32783674],
       [0.83234022, 0.16765978],
       [0.89696586, 0.10303414],
       [0.11798982, 0.88201018],
       [0.81773698, 0.18226302],
       [0.80900159, 0.19099841],
       [0.90563385, 0.09436615],
       [0.38622868, 0.61377132],
       [0.83364855, 0.16635145],
       [0.88936595, 0.11063405],
       [0.90736281, 0.09263719],
       [0.92061197, 0.07938803],
       [0.08934689, 0.91065311],
       [0.13644285, 0.86355715],
       [0.58021366, 0.41978634],
       [0.13737442, 0.86262558],
       [0.92484806, 0.07515194],
       [0.20557199, 0.79442801],
       [0.87633533, 0.12366467],
       [0.88824494, 0.11175506],
       [0.87918492, 0.12081508],
       [0.89261335, 0.10738665],
       [0.91096164, 0.08903836],
       [0.51779931, 0.48220069],
       [0.91165051, 0.08834949],
       [0.59088729, 0.40911271],
       [0.59890665, 0.40109335],
       [0.51603772, 0.48396228],
       [0.92061197, 0.07938803],
       [0.86452321, 0.13547679],
       [0.06141569, 0.93858431],
       [0.13694078, 0.86305922],
       [0.8836942 , 0.1163058 ],
       [0.83374574, 0.16625426],
       [0.32845302, 0.67154698],
       [0.90283038, 0.09716962],
       [0.62242696, 0.37757304],
       [0.0562437 , 0.9437563 ],
       [0.31826671, 0.68173329],
       [0.61326249, 0.38673751],
       [0.19928129, 0.80071871],
       [0.30845452, 0.69154548],
       [0.1723777 , 0.8276223 ],
       [0.32406896, 0.67593104],
       [0.91193027, 0.08806973],
       [0.90247234, 0.09752766],
       [0.57208506, 0.42791494],
       [0.74217253, 0.25782747],
       [0.07083712, 0.92916288],
       [0.89262467, 0.10737533],
       [0.5848205 , 0.4151795 ],
       [0.91569816, 0.08430184],
       [0.11953318, 0.88046682],
       [0.6554893 , 0.3445107 ],
       [0.19680417, 0.80319583],
       [0.07974915, 0.92025085],
       [0.33724003, 0.66275997],
       [0.9214509 , 0.0785491 ],
       [0.41867787, 0.58132213],
       [0.59064445, 0.40935555],
       [0.91265589, 0.08734411],
       [0.81888134, 0.18111866],
       [0.90643492, 0.09356508],
       [0.58122273, 0.41877727],
       [0.33783508, 0.66216492],
       [0.91186444, 0.08813556],
       [0.91018267, 0.08981733],
       [0.85524954, 0.14475046],
       [0.91186444, 0.08813556],
       [0.91076513, 0.08923487],
       [0.06186313, 0.93813687],
       [0.06872071, 0.93127929],
       [0.07828741, 0.92171259],
       [0.36751767, 0.63248233],
       [0.22182284, 0.77817716],
       [0.90197462, 0.09802538],
       [0.91117367, 0.08882633],
       [0.91271112, 0.08728888],
       [0.51368268, 0.48631732],
       [0.91475922, 0.08524078],
       [0.75462415, 0.24537585],
       [0.86998178, 0.13001822],
       [0.0538776 , 0.9461224 ],
       [0.91128913, 0.08871087],
       [0.82484067, 0.17515933],
       [0.53118929, 0.46881071],
       [0.91287901, 0.08712099],
       [0.60267676, 0.39732324],
       [0.05067308, 0.94932692],
       [0.75155184, 0.24844816],
       [0.91120969, 0.08879031],
       [0.13266934, 0.86733066],
       [0.67367255, 0.32632745],
       [0.84536999, 0.15463001],
       [0.91419199, 0.08580801],
       [0.32453588, 0.67546412],
       [0.04091517, 0.95908483],
       [0.91637386, 0.08362614],
       [0.52875497, 0.47124503],
       [0.91285559, 0.08714441],
       [0.91421049, 0.08578951],
       [0.16245698, 0.83754302],
       [0.14218534, 0.85781466],
       [0.65459053, 0.34540947],
       [0.72977561, 0.27022439],
       [0.05657084, 0.94342916],
       [0.90563806, 0.09436194],
       [0.91235114, 0.08764886],
       [0.91096164, 0.08903836],
       [0.04958632, 0.95041368],
       [0.04582682, 0.95417318],
       [0.05829723, 0.94170277],
       [0.91220993, 0.08779007],
       [0.58694115, 0.41305885],
       [0.61258314, 0.38741686],
       [0.60204294, 0.39795706],
       [0.81919319, 0.18080681],
       [0.91529655, 0.08470345],
       [0.90919567, 0.09080433],
       [0.04098098, 0.95901902],
       [0.83120665, 0.16879335],
       [0.54840901, 0.45159099],
       [0.54615379, 0.45384621],
       [0.91271112, 0.08728888],
       [0.91096164, 0.08903836],
       [0.15843042, 0.84156958],
       [0.85368387, 0.14631613],
       [0.04944336, 0.95055664],
       [0.54152422, 0.45847578],
       [0.88778836, 0.11221164],
       [0.41824684, 0.58175316],
       [0.83166409, 0.16833591],
       [0.7135465 , 0.2864535 ],
       [0.92805772, 0.07194228],
       [0.91147031, 0.08852969],
       [0.15162089, 0.84837911],
       [0.81488223, 0.18511777],
       [0.91650718, 0.08349282],
       [0.60096057, 0.39903943],
       [0.83031755, 0.16968245],
       [0.25470332, 0.74529668],
       [0.91667038, 0.08332962],
       [0.46359722, 0.53640278]])

In [80]:
pd.crosstab(test_y, mlp_pred)

col_0       0   1
survived
0         152  20
1          33  63

## Logistic Regression
- penalty{‘l1’, ‘l2’, ‘elasticnet’, ‘none’}

In [93]:
logi = LogisticRegression(random_state=1, penalty='l2').fit(train_x, train_y)
logi_pred = logi.predict(test_x)
roc_auc_score(logi_pred, test_y)

C:\Users\jyhoon94\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7728752849234777

## RandomForest Classifier

In [107]:
rfc = RandomForestClassifier(random_state=1, criterion='entropy',max_depth=5, n_estimators=10).fit(train_x,train_y)
rfc_pred = rfc.predict(test_x)
roc_auc_score(rfc_pred, test_y)

0.8305614952086797

## GradientBoosting Classifier

In [105]:
gbc = GradientBoostingClassifier(random_state=1, n_estimators=10, max_depth=5).fit(train_x,train_y)
gbc_pred = gbc.predict(test_x)
roc_auc_score(gbc_pred, test_y)

0.8468834688346883

!pip install xgboost

## XGBoost

In [113]:
from xgboost import XGBClassifier

In [127]:
import xgboost as xgb
dtrain = xgb.DMatrix(x_train, y_train)
dtest = xgb.DMatrix()

     pclass  sex        age  sibsp  parch     fare class  adult_male  alone
329       1    0  16.000000      0      1  57.9792     1           0      1
221       2    1  27.000000      0      0  13.0000     2           0      1
693       3    1  25.000000      0      0   7.2250     3           0      1
870       3    1  26.000000      0      0   7.8958     3           0      1
310       1    0  24.000000      0      0  83.1583     1           0      1
..      ...  ...        ...    ...    ...      ...   ...         ...    ...
707       1    1  42.000000      0      0  26.2875     1           0      1
684       2    1  60.000000      1      1  39.0000     2           0      1
474       3    0  22.000000      0      0   9.8375     3           0      1
611       3    1  29.699118      0      0   7.0500     3           0      1
888       3    0  29.699118      1      2  23.4500     3           0      1

[268 rows x 9 columns]

In [128]:
xgb = XGBClassifier()
xgb

XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None, gamma=None,
              gpu_id=None, importance_type='gain', interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              random_state=None, reg_alpha=None, reg_lambda=None,
              scale_pos_weight=None, subsample=None, tree_method=None,
              validate_parameters=None, verbosity=None)

In [138]:
iris_y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [143]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [144]:
iris = sns.load_dataset('iris')
iris[['species']]=iris[['species']].apply(LabelEncoder().fit_transform)
iris_x = iris.iloc[:,:-1]
iris_y = iris.iloc[:,-1]

iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(iris_x, iris_y, test_size=.3)

In [145]:
iris_y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [146]:
model= XGBClassifier().fit(iris_x_train, iris_y_train)
pred= model.predict(iris_x_test)
roc_auc_score(pred,iris_y_test)

[10:16:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\jyhoon94\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

ValueError: multi_class must be in ('ovo', 'ovr')